# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# MinIO
minio-data/

# Spark
warehouse/

# Delta output
bronze/
silver/
gold/

# Logs
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db